---
const pageTitle = "About Ken Chase";

const identity = {
  firstName: "Ken",
  country: "Canada",
  occupation: "Web designer and front-end developer",
  hobbies: ["photography", "music production", "songwriting"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Design Systems"];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Ken Chase is a Canadian web designer, photographer, and musician base in Ottawa, Ontario." />
		<title>Ken Chase - Web Design, Music, Photography</title>
		<style define:vars={{skillColor, fontWeight, textCase}}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>
	</head>
	<body>
	<a href="/">Home</a>
<a href="/about/">About</a>
		 <h1 class="main-header-title">{pageTitle}</h1>
		 <ul>
		 <li class="skill">{identity.firstName}</li>
		 </ul>
		 <ul>
		 {skills.map((skill) => <li>{skill}</li>)}
		 	 {identity.hobbies.length >= 2 &&
    <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
  }
		 </ul>
	
	</body>
</html>
